<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <input type="text" id="palavra" oninput="enviar()">
  <button onclick="enviar()">Enviar</button>
  <hr>
  <p id="resultado"></p>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
<script>
  const socket = io('http://localhost:3000')
  socket.on('disconnect', () => {
    console.log('Desconectado')
  })

  socket.on('resultado', data => {
    console.log(data)

    const p = document.querySelector('#resultado')
    p.innerHTML = data
  })

  function enviar() {
    const input = document.querySelector('#palavra')

    socket.emit('palavra', input.value)

  }
</script>
</html>